
.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    list-style: none;
}

.experience li {
    margin-bottom: 1rem;
}

.experience li .peried {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .peried::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('../IMG/Icons/Experience.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}