* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #000; 
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #FFF;
    border-radius: 1rem;
}

.main::before,
.main::after {
    content: " ";
    background-image: url('../IMG/Background-cima.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 35rem;
    height: 35rem;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: " ";
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
    
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before, 
    .main::after{
        width: 35rem;
        height: 35rem;
    }


}