

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
}

.header::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 1rem;
    background-image: url('../IMG/Icons/trespontos.svg');
    background-repeat: no-repeat;
    background-size: contain;
    
}

.header .foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .titulo {
    text-align: center;
}

.information {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1rem;
}

.information p::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('../IMG/Icons/Person.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .person::before{
    background-image: url('../IMG/Icons/Person.svg');
}

.information .location::before{
    background-image: url('../IMG/Icons/Location.svg');
}

.information .phone::before{
    background-image: url('../IMG/Icons/Zap.svg');
}

.information .email::before{
    background-image: url('../IMG/Icons/Email.svg');
}

@media only screen and (min-width: 768px) {

    .header {
        display: grid;
        grid-template-areas: 
            "foto titulo"
            "foto information"
        ;
    }

    .header .foto {
        grid-area: foto;
        margin-right: 7rem;
    }

    .header .titulo {
        grid-area: titulo;
        text-align: start;
        max-width: 220px;
    }

    .header .information {
        grid-area: information;
    }
}